.gorev-ekle-form {
    background-color: #1C1A1B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form elements horizontally */
}

/* Tamamlandý mý sorusu */
.tamamlandi-soru {
    color: #E2DCDD;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

/* Evet and Hayýr buttons */
.button-group {
    display: flex;
    justify-content: space-around; /* Align buttons with space between */
    width: 100%;
    margin-bottom: 20px;
}

.option-button {
    background-color: #E2DCDD;
    color: #1C1A1B;
    border: 2px solid #E40046;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    width: 40%; /* Reduce button width */
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

    .option-button.selected {
        background-color: #E40046;
        color: #E2DCDD;
    }

    .option-button:hover {
        background-color: #C3003B;
        border-color: #C3003B;
    }

/* Smaller "Ekle" button */
.submit-button {
    width: 100px;
    background-color: #E40046;
    color: #E2DCDD;
    border-radius: 8px;
    padding:
